@import "../themes/_theme.scss";

.form__etapas {
  min-width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.inputs-container {
  min-height: 200px;
}

.actions {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.increaseMonth,
.decreaseMonth {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;

  cursor: pointer;
  border: none;
  transition: 0.3s;

  &:hover {
    background-color: #cfcfcf;
  }
}
