.buttons-confirm-diag {
  display: flex;
  justify-content: left;
  gap: 1.5rem;

  button {
    width: 10rem;
    text-align: center;
    height: 3rem;
  }
}

.jogadorConfirm {
  display: flex;
  align-items: center;
  text-align: center;

  p {
    margin: 0 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .paginaConfirm {
    padding: 0.5rem;
    text-align: justify;
  }

  .jogadorConfirm {
    display: block;
    text-align: start;

    .listJogadoresConfirm {
      display: flex;
      justify-content: flex-start;
      // width: 100%;
    }
  }

  .buttons-confirm-diag {
    margin-top: 0.7rem;
    justify-content: space-around;
  }
}