@import "../themes/_theme.scss";

.banner-eleven {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .home-logo {
    width: 5rem;
  }
}

.slick-slide {
  display: flex !important;
  justify-content: center !important;

}


.slick-slide div:first-child {
  border: 2px solid orange;
  width: 100%;

  img {
    width: 10rem;
    height: 7rem;
  }
}
.flecha-car {

  &::before {
    @include themed() {
      color: t("arrow-parceiros") !important;
    }
  }
}

