@import "../themes/_theme.scss";

.banner-eleven {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .home-logo {
    width: 5rem;
  }
}

.home-parceiros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;

  .title-parceiros {
    margin-bottom: 0.7rem;
  }
}

.slick-slide {
  display: flex !important;
  justify-content: center !important;
}

.slick-slide div:first-child {
  // border: 2px solid orange;
  width: 70%;

  img {
    // width:70%;
    height: 15rem;
  }
}
.flecha-car {
  &::before {
    @include themed() {
      color: t("arrow-parceiros") !important;
    }
  }
}

@media only screen and (max-width: 768px) {
  .slick-slide div:first-child {
    width: 100%;
    img {
      width: 10rem;
      height: 7rem;
    }
  }

  .button__bar {
    li {
      button {
        &::before {
          @include themed() {
            color: t("arrow-parceiros") !important;
          }
        }
      }
    }
  }
}
