.row-meus-agendamentos {
  gap: 2rem;
}

.card-agendamento {
  margin: 2rem 0;
  width: 15rem;
  padding: 1rem 3rem;
  cursor: pointer;

  p {
    margin: 0 auto;
  }

  ol {
    margin: 0 auto;
    padding-left: 1.8em;
  }
}

.card-with-transfer {
  border: 2px solid #edd31b !important;
  background-color: #453d09ab !important;
}

.card-with-permanente {
  border: 2px solid #1bed48 !important;
  background-color: #205b20ab !important;
}

@media only screen and (max-width: 768px) {
  .sectionResultsAgendamento {
    margin: 0;
    padding: 0;
  }
  .row-meus-agendamentos {
    display: flex;
    justify-content: center;
    gap: 0.7rem;
  }
  .card-agendamento {
    margin: 0;
    width: 90%;
    display: flex;
    flex-direction: row !important;
    padding: 0.1rem 0.3rem;
  }
}
