.active {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

@media only screen and (max-width: 768px) {
  .new-body-profile {
    padding: 1.25rem 0 !important;
  }
}
