@import "../themes/_theme.scss";

.paginaModalidade {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;

  button {
    margin: 1rem 0.5rem;
    justify-content: center;
    text-align: center;
    width: 13.3rem;
    min-height: 3rem;
  }
}

.card-modalidade-button {
  min-width: 30%;
  max-width: 15rem;
  min-height: 10rem;
  max-height: 15rem;
  @include themed() {
    background: t("bg-card");
    box-shadow: t("box-shadow");
  }
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 1s !important;
  &:hover {
    scale: 1.1;
  }

  .text-modalidade {
    padding: 1rem;
    border-radius: 1.3rem;
    @include themed() {
      color: t("text");
      background: t("bg-card-text");
      box-shadow: t("box-shadow");
    }
  }
}

@media only screen and (max-width: 768px) {
  .paginaModalidade {
    gap: 1rem;
  }

  .card-modalidade-button {
    min-width: 11.5rem;
    max-width: 15rem;
    min-height: 10rem;
    max-height: 15rem;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    padding-left: 1rem;
  }
}
