@import "../themes/_theme.scss";

.paginaQuadra {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 0;
  gap: 3rem;

  .card-main-public {
    margin: 1.2rem;
    cursor: pointer;
    padding: 1.5rem;
    @include themed() {
      background: t("bg-card");
      box-shadow: t("box-shadow");
    }

    text-align: center;
    transition: all 1s;
    &:hover {
      scale: 1.1;
    }

    .card-text-name {
      font-size: 1rem;
      margin-bottom: 0;
    }

    .card-text-esportes {
      font-size: 1rem;
    }

    .card-img {
      width: 15rem;
      height: 10rem;
    }
  }
}
