@import "./../themes/theme";

.col-picture-signup {
  align-items: center;
  display: flex;
  justify-content: center;
}

.row-button-signup {
  margin-top: 1rem;
}

.form-group-input {
  display: grid;
  input {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;

    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    @include themed() {
      border-color: t("text");
    }
    // border-color: green;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

@media only screen and (max-width: 768px) {
  .card-edit {
    padding: 0 !important;
  }
}
