.customDatePickerWidth {
  width: 100%;
  min-height: 50vh;

  div {
    width: 100%;
  }
  .datePicker {
    width: 70%;
    min-height: 50vh;
    background: none;
    margin: 0px 15%;
  }
  .react-datepicker__header {
    background: none;
  }

  .datePickerNav {
    margin: 1rem;
    display: flex;
    justify-content: space-around;

    .increaseMonth,
    .decreaseMonth {
      background: none;
      box-shadow: none;
    }

    p {
      font-size: 1.3rem;
      font-weight: bold;
    }
  }

  .react-datepicker__month-container {
    width: 100% !important;
    min-height: 50vh;
    // text-transform: uppercase !important;
  }
  .react-datepicker__day-names {
    width: 100% !important;
    min-height: 8vh;
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
    text-transform: uppercase !important;
  }

  .react-datepicker__week {
    width: 100% !important;
    min-height: 8vh;
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
  }

  .react-datepicker__day {
    width: 4.7rem !important;
    min-height: 4.7rem !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
}
