$nav_bg_color: #343a40;
$nav_text_color: #f5fff9;

$sidebar_bg_color: #f8f9fa;
$sidebar_text_active_color: #3585dd;
$sidebar_text_color: #8d797f;

$box_line_color: hsl(0, 0%, 80%);
$box_shadow_color: hsla(0, 0%, 0%, 0.1);

$table_border_color: #d8d8d8;
$table_bg_line_color: #f2f2f2;
$table_input_line_color: hsl(0, 0%, 80%);

$paginate_buttons_color: #a0a3bd;
$paginate_active_button_color: #e5eaf0;
$paginate_active_button_bg_color: #007ad9;
