@import "./../themes/theme";

.agenda-main {
  width: 100%;
  .section-Areia {
    background-color: burlywood;
    .bloco-quadras{
      // width: 20%;
    }
  }

  .section-Padel {
    background-color: rgba(0, 0, 255, 0.637);
    .bloco-quadras{
      // width: 25%;
    }
  }

  .section-Pickeball {
    background-color: pink;
    .bloco-quadras{
      // width: 50%;
    }
  }
  .agenda-filtro {
    
    .agenda-button {
      @include themed() {
        background-color: t("text");
      }
    }

    .datePickerNav2 {
      display: flex;
      justify-content: center;
    }
    
  }
  .section-types {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    .bloco-quadras{
      flex: 1 1 calc(20% - 16px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 1rem;
      border: 1px solid #000;
    span:first-of-type {
      width: 80%;
      text-wrap: nowrap;
      align-self: center;
      overflow: hidden;
    }

    }
  }

  .bloco-horarios {
    
    .btn-horarios {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: start;
      width: -webkit-fill-available;
      border: 1px solid rgb(133, 133, 133);
      height: 3rem;
      .btn-nome-hora {
        width: 100%;
        padding: 0 0.4rem;
        font-size: 0.85rem;
        div:first-of-type {

          overflow: hidden;
        }
      }
    }

    .btn-bloq {
      border: 1px solid red !important;
      background-color: lightcoral !important;
    }

    .btn-marc {
      // border: 1px solid #ff5200;
      background-color: burlywood;


    }

    .btn-permanente {
      border: 1px solid #1a670c !important;
      background-color: forestgreen !important;
    }
  }
}

@media (max-width: 415px) {

  .section-types {
    display: flex;
    flex-wrap: wrap;
    // gap: 1rem;
    .bloco-quadras{
      // background-color: #1a670c;
      width: 20%;
    }
  }
}