@import "../themes/_theme.scss";

.card-main {
  margin: 1.2rem;
  cursor: pointer;
  padding: 1.5rem;
  @include themed() {
    background: t("bg-card");
    box-shadow: t("box-shadow");
  }
  //   background-color: rgba(0, 0, 0, 0.15) !important;

  transition: all 1s;
  text-align: center;
  //   box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);

  .card-text-name {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .card-text-esportes {
    font-size: 1rem;
  }

  .card-img {
    width: 15rem;
    height: 10rem;
  }

  &:hover {
    scale: 1.1;
  }
}
