@import "../themes/_theme.scss";

.container-quadras {
  // width: 100%;
  display: flex;
  flex-wrap: "wrap";
  gap: 0.8rem;
  justify-content: space-between;
}
select {
  border: 0;
  outline: 0;
  font: inherit;
  width: 20em;
  height: 3em;
  padding: 0 4em 0 1em;
  // background: rgb(94 93 93 / 8%);
  color: inherit;
  border-radius: 0.25em;
  // box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  @include themed() {
    color: t("text");
    background: t("bg");
    box-shadow: t("box-shadow");
  }
  cursor: pointer;
  option {
    color: inherit;
  }
  &:focus {
    outline: none;
  }
}
